img-div {
    display: block;
  }
  #image{
    max-width:100%;
  }
  body{
    font-family: Arial, sans-serif;
      font-size: 1.2rem;
      line-height: 1.5;
      text-align: center;
      color: #503404;
      background-color: #F1EADD;
      padding-bottom: 80px;
  }
  h1{
    text-align: center;
    font-size: 60px;
    font-family: Arial;
    padding: 40px 0 0 0;
    line-height: 1;
  }
  ul{
    text-align: left;
    display: block;
    vertical-align:middle;
    max-width: 50%;
    font-size: 14px;
    margin: auto;
  }
  h3{
    margin-top: 40px;
  }
  img{
     display:block;
     margin:auto;
     vertical-align:middle;
     background-color: #DBB592;
     padding-top: 20px;
     padding-left: 20px;
     padding-right: 20px;
     padding-bottom: 20px;
     width: 80%;
   } 
   #img-caption{
     display: block;
     padding-top: 20px;
     padding-left: 20px;
     padding-right: 20px;
     padding-bottom: 20px;
   }
   #block{
     display: block;
     padding-top: 60px;
     padding-left: 20px;
     padding-right: 20px;
     padding-bottom: 20px;
     font-size: 16px;
   }
   #footer{
     display: block;
     padding-top: 40px;
     padding-left: 20px;
     padding-right: 20px;
     padding-button: 20px;
     margin-button: 100px;
   }